/* Fluid grids */

body#fluid-grids {
	padding: 100px 0 0 0; /* Top padding on the body for the fixed navbar */
}

@media screen and (max-width: 767px) {
	body#fluid-grids {
		padding: 140px 0 0 0; /* Another 40px of padding for the taller navbar on mobile */
	}
}

/* Set a maximum width and center the page content when on a large display */

.container {
	margin: 0 auto;
	padding: 0 40px;
	max-width: 1000px;
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0 20px; /* Reduce content padding to 20px on mobile */
	}
}

/* Parent element for the columns */

.row {
	margin: 0 -20px; /* Negative margin to offset the left padding on the first column and the right padding on the last column */
}

/* Columns (this is for a 12-column grid with 40 pixel gutters) */

[class*="span"] {
  float: left;
  min-height: 1px;
  padding: 20px;
}

.span1 {
  width: 8.33333%;
}

.span2 {
  width: 16.66667%;
}

.span3 {
  width: 25%;
}

.span4 {
  width: 33.33333%;
}

.span5 {
  width: 41.66667%;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.33333%;
}

.span8 {
  width: 66.66667%;
}

.span9 {
  width: 75%;
}

.span10 {
  width: 83.33333%;
}

.span11 {
  width: 91.66667%;
}

.span12 {
  width: 100%;
}

/* At breakpoint, stop floating columns and make them all full width */

@media screen and (max-width: 767px) {

	[class*="span"] {
	  float: none;
	  width: 100%;
	}
}

/* Content */

#content {
	padding-bottom: 20px;
}

h1 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
	h1:after {
		content: "Single-Column";
	}
}

@media screen and (min-width: 768px) and (max-width: 999px) {
	h1:after {
		content: "Fluid Grid";
	}
}

@media screen and (min-width: 1000px) {
	h1:after {
		content: "Fixed Grid";
	}
}


/* Navbar */

#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background: #333;	
}

#branding {
	float: left;
	padding: 21px 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}

#main-menu {
	float: right;
}

#main-menu li {
	display: block;
	float: left;
}

#main-menu li a {
	display: block;
	padding: 23px 21px;
	color: #999;
	line-height: 1;
	text-decoration: none;
}

#main-menu li a:hover {
	color: #fff;
	background: #222;
}

/* At breakpoint, center logo and shift nav items underneath to a second bar */

@media screen and (max-width: 767px) {
	
	#navbar .container {
		padding-left: 0;
		padding-right: 0;
	}
	
	#branding {
		float: none;
		text-align: center;
	}
	
	#main-menu {
		float: none;
		background: #555;
	}
	
	#main-menu li {
		width: 25%;
		text-align: center;
	}

	#main-menu li a {
		padding: 14px 0;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

/* Different footer background color to demonstrate content "stripe" */

footer {
	background: #eee;
	padding: 20px 0;
}

/* Grid Overlay */

#grid-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#grid-overlay [class*="span"] {
  padding-top: 0;
  padding-bottom: 0;
}

#grid-overlay .column-inside {
  background: rgba(255,0,0,0.1);
  height: 10000px;
}

#toggle-grid-overlay {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 20;
}

#toggle-grid-overlay:checked + #grid-overlay {
	display: block;
}