/* Media queries demo */

#media-queries {
	padding: 40px;
}

#media-queries h1 {
	color: #fff;
}

#media-queries h2 {
	color: rgba(255,255,255,0.5);
	font-weight: normal;
}

@media screen and (max-width: 320px) {

	#media-queries {
		background: red;
	}
	
	#media-queries h1:after {
		content: "Mobile Portrait";
	}

	#media-queries h2:after {
		content: "up to 320px";
	}
}

@media screen and (min-width: 321px) and (max-width: 568px) {

	#media-queries {
		background: orange;
	}
	
	#media-queries h1:after {
		content: "Mobile Landscape";
	}

	#media-queries h2:after {
		content: "321px - 568px";
	}
}

@media screen and (min-width: 569px) and (max-width: 767px) {

	#media-queries {
		background: green;
	}
	
	#media-queries h1:after {
		content: "Small Tablet";
	}

	#media-queries h2:after {
		content: "569px - 767px";
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#media-queries {
		background: blue;
	}
	
	#media-queries h1:after {
		content: "Large Tablet";
	}

	#media-queries h2:after {
		content: "768px - 1023px";
	}
}

@media screen and (min-width: 1024px) {

	#media-queries {
		background: purple;
	}
	
	#media-queries h1:after {
		content: "Full Size Display";
	}
	
	#media-queries h2:after {
		content: "1024px and up";
	}
}