/* Media queries demo */

#media-queries {
	padding: 5%;
}

#media-queries h1 {
	color: #fff;
}

@media screen and (max-width: 320px) {

	#media-queries {
		background: red;
	}
	
	#media-queries h1:after {
		content: "Mobile Landscape";
		margin-left: 0.5em;
	}
}

@media screen and (min-width: 321px) and (max-width: 568px) {

	#media-queries {
		background: orange;
	}
	
	#media-queries h1:after {
		content: "Mobile Portrait";
		margin-left: 0.5em;
	}
}

@media screen and (min-width: 569px) and (max-width: 767px) {

	#media-queries {
		background: green;
	}
	
	#media-queries h1:after {
		content: "Small Tablet";
		margin-left: 0.5em;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#media-queries {
		background: blue;
	}
	
	#media-queries h1:after {
		content: "Large Tablet";
		margin-left: 0.5em;
	}
}

@media screen and (min-width: 1024px) {

	#media-queries {
		background: purple;
	}
	
	#media-queries h1:after {
		content: "Full Size Display";
		margin-left: 0.5em;
	}
}